.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-controls label {
    margin-right: 5px;
}

.quantity-controls input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.remove-button {
    background-color: #e74c3c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.checkout-button {
    background-color: #0f1011;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.remove-button:hover,
.checkout-button:hover {
    background-color: #5c94dc;
}

.cart-total {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}
.update-cart-button {
    background-color: #1455aa;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 40px;
}


.update-cart-button:hover {
    background-color: #5c94dc; /* Darker red */
}
