.receipt-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 10px;
    border: 10px solid #1a85e9;
    border-radius: 10px;
    background-color: white;
}

.receipt-container h1 {
    text-align: center;
}

.receipt-container ul {
    list-style-type: none;
}

.receipt-container ul li {
    margin-bottom: 10px;
}

.receipt-container button {
    background-color: #007bff;
}
.Button {
    background-color: #96afc9;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 280px;
}
