/* Basic styling for the Crew page */
.crew-page{
  background-color: aqua;
}

.crew-container {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2.5rem;
  color: #2c3e50;
}

p {
  font-size: 1.2rem;
  color: #7f8c8d;
}

.search-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.search-bar {
  width: 80%;
  max-width: 500px;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  border-color: #2c3e50;
}

.doctor-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 1rem;
}

.doctor-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.doctor-card h3 {
  font-size: 1.5rem;
  color: #2c3e50;
}

.doctor-card p {
  font-size: 1rem;
  color: #7f8c8d;
}

@media (max-width: 768px) {
  .doctor-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .doctor-list {
    grid-template-columns: 1fr;
  }
}
