/* Users.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(92, 209, 241);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #555;
}

td {
  color: #555;
}

/* General button style for all buttons */


/* Style for Update button - Blue */
button.update {
  background-color: #4CAF50; /* Green initially */
  border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

button.update:hover {
  background-color: #45a049;
}

button.update:active {
  background-color: #388e3c;
}

/* Style for Delete button - Red */
button.delete {
  background-color: #f44336;  /* Red color for delete button */
  border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

button.delete:hover {
  background-color: gray;
}

button.delete:active {
  background-color: #c62828;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  table {
      width: 100%;
      font-size: 14px;
  }

  button {
      padding: 6px 12px;
  }
}
