.profile-background{
  background-image: url("./11d5f8041466b17076b1ba051d9b74a7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 0%;
  
}

.profile-container {
  max-width: 800px;
  height: 350px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container input {
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.profile-container button {
  padding: 12px 20px;
  margin: 10px 5px 0 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.update-button {
  background-color: blue;
  color: white;
}

.update-button:hover {
  background-color: lightgray;
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: lightgray;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
